button {
    background-color: #ffffff;
    border: none;
    height: 80px;
    width: 80px;
    margin-top: -4px;
    padding: 0;
}

/* .center {
    text-align: center;
} */

.turn {
    display: inline;
    font-size: 32px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.fullBoard {
    display: flex;
    flex-direction: column;
    margin:0 25% 0 25% ;
    position: absolute;
}

.row{
    display: flex;
}

.gameend{
    text-align: center;
    top:350px;
    padding: 4% 2%;
    border: 2px solid black;
    background-color: red;
    /* z-index: 2; */
    position: relative;
}

.newgame{
    color: blue;
    border: 2px solid pink;
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {

    .fullBoard {
        margin:auto;
    }
    
  }